<a href="https://colab.research.google.com/github/elichen/aoc2015/blob/main/Day_9_All_in_a_Single_Night.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [22]:
data = """London to Dublin = 464
London to Belfast = 518
Dublin to Belfast = 141""".split('\n')

In [23]:
data = """Faerun to Tristram = 65
Faerun to Tambi = 129
Faerun to Norrath = 144
Faerun to Snowdin = 71
Faerun to Straylight = 137
Faerun to AlphaCentauri = 3
Faerun to Arbre = 149
Tristram to Tambi = 63
Tristram to Norrath = 4
Tristram to Snowdin = 105
Tristram to Straylight = 125
Tristram to AlphaCentauri = 55
Tristram to Arbre = 14
Tambi to Norrath = 68
Tambi to Snowdin = 52
Tambi to Straylight = 65
Tambi to AlphaCentauri = 22
Tambi to Arbre = 143
Norrath to Snowdin = 8
Norrath to Straylight = 23
Norrath to AlphaCentauri = 136
Norrath to Arbre = 115
Snowdin to Straylight = 101
Snowdin to AlphaCentauri = 84
Snowdin to Arbre = 96
Straylight to AlphaCentauri = 107
Straylight to Arbre = 14
AlphaCentauri to Arbre = 46""".split('\n')

In [24]:
m = {}
cities = set()
for line in data:
  src, _, dst, _, d = line.split()
  d = int(d)
  m[(src,dst)] = d
  m[(dst,src)] = d
  cities.add(src)
  cities.add(dst)

In [25]:
min_dist = [float("inf")]
def dfs(curr, visited, rest, dist):
  if not rest:
    min_dist[0] = min(min_dist[0], dist)
    return
  for city in rest:
    if city == curr: continue
    dfs(city, visited|{city}, rest-{city}, dist+m[(curr,city)])

for city in cities:
  dfs(city, {city}, cities-{city}, 0)
min_dist

[117]

In [26]:
max_dist = [0]
def dfs(curr, visited, rest, dist):
  if not rest:
    max_dist[0] = max(max_dist[0], dist)
    return
  for city in rest:
    if city == curr: continue
    dfs(city, visited|{city}, rest-{city}, dist+m[(curr,city)])

for city in cities:
  dfs(city, {city}, cities-{city}, 0)
max_dist

[909]